<nav id="main-nav">
  <ul>
    <li><a href="/history"><div><i class="fa fa-history"></div></a></i></li>
    <li><a href="/notifications"><div><i class="fa fa-bell"></div></a></i></li>
    <li><a href="/home"><div><i class="fa fa-home"></div></a></i></li>
    <li><a href="/cart"><div><i class="fa fa-shopping-cart"></div></a></i></li>
    <li><a href="/favorites"><div><i class="fa fa-heart"></div></a></i></li>
    <li><a href="/account"><div><i class="fa fa-user"></div></a></i></li>
  </ul>
</nav>
